.login-view
    .login-checking.tc-white(ng-if="vm.needCheckLogin")
        i.icon.icon--xl.icon--flat.mdi(ng-class="{'mdi-sync icon-rotate-animation': !vm.userInfo, 'mdi-account': vm.userInfo}")
        p.loading-text {{vm.userInfo ? vm.userInfo.name : 'Checking Login User...'}}
    form.card(name="vm.signupForm", ng-submit="vm.signup(vm.userDetails)", novalidate)
        .card__header(class="p+")
            | We need following information from you.
        .login-message(class="{{vm.signupError.type}}", ng-if="vm.signupError")
            p.tc-white {{vm.signupError.text}}
        .card__body(class="p++")
            table
                tr: th Registration Details
                tbody
                    tr 
                        td
                            lx-text-field(label="First Name", fixed-label="true")
                                input(type="text", ng-model="vm.userDetails.firstName", required, aio-focus-me="true")
                        td
                            lx-text-field(label="Last Name", fixed-label="true")
                                input(type="text", ng-model="vm.userDetails.lastName", required, aio-focus-me="true")
                    tr
                        td
                            lx-text-field(label="Date of Birth", fixed-label="true")
                                input(type="date", ng-model="vm.userDetails.dateOfBirth", required, aio-focus-me="true")
                        td
                            lx-text-field(label="Email", fixed-label="true")
                                input(type="email", ng-model="vm.userDetails.email", required, aio-focus-me="true")
                    tr
                        td
                            lx-text-field(label="Street", fixed-label="true")
                                input(type="text", ng-model="vm.userDetails.street", required, aio-focus-me="true")
                        td
                            lx-text-field(label="Building", fixed-label="true")
                                input(type="text", ng-model="vm.userDetails.building", required, aio-focus-me="true")
                    tr
                        td
                            lx-text-field(label="State", fixed-label="true")
                                input(type="text", ng-model="vm.userDetails.state", required, aio-focus-me="true")
                        td
                            lx-text-field(label="Zip", fixed-label="true")
                                input(type="number", ng-model="vm.userDetails.zip", required, aio-focus-me="true")
                    tr
                        td
                            lx-text-field(label="Cell", fixed-label="true")
                                input(type="number", ng-model="vm.userDetails.cell", required, aio-focus-me="true")
                    tr
                        td
                            lx-text-field(label="Password", fixed-label="true")
                                input(type="password", ng-model="vm.userDetails.password", required)
                        td
                            lx-text-field(label="Confirm Password", fixed-label="true")
                                input(type="password", ng-model="vm.userDetails.confirmPassword", required)

        .card__actions.text-center(class="p+")
            button.btn.btn--l.btn--blue.btn--raised.btn-login(type="submit",
                ng-disabled="vm.signupForm.$invalid || vm.isRequest",
                ng-class="{'btn--is-disabled': vm.signupForm.$invalid}",
                lx-ripple,
                aio-loading-button="vm.isRequest",
            ) Sign In
