.home-view
    .card.bgc-blue-800.text-center.tc-white(class="p+++")
        h2.title PickMe App
        h3.subtitle
            | Join to give a ride or take.
        a.btn.btn--green.btn--l.btn--raised(class="mt+", ui-sref="root.carpool", lx-ripple="white") Login        
        a.btn.btn--green.btn--l.btn--raised(class="mt+", ui-sref="root.signup", lx-ripple="white") Signup