.card(class="mt+", flex) 
    form.card(name="vm.addCarForm", novalidate)
      table.data-table 
         tr 
            td
             label(for='Make') Make
            td 
              select(ng-model="vm.car", ng-options="car as car.make for car in vm.cars", required)
                option(value="")
         tr
            td 
             label(for='Model') Model
            td 
             select(ng-model="vm.car.selectedModel", ng-options="model as model for model in vm.car.model", required)
                option(value="")
         tr
            td 
             label(for='Occupancy') Occupancy
            td 
             select(ng-model="vm.car.occupancy", ng-options="occupancy as occupancy for occupancy in [1,2,3,4,5,6,7,8]", required)
                option(value="")
         tr
            td 
             label(for='Color') Color
            td 
             input(ng-model="vm.car.color", required, aio-focus-me="true")
         tr
            td 
    .card__actions.text-center(class="p+")
            button.btn.btn--l.btn--blue.btn--raised.btn-login(ng-click="vm.addCar(vm.car)"
                ng-disabled="vm.addCarForm.$invalid || vm.isRequest",
                ng-class="{'btn--is-disabled': vm.addCarForm.$invalid}",
                lx-ripple,
                aio-loading-button="vm.isRequest",
            ) Register Car