@import '../../styles/common'

@import '../../styles/login/*'

table.selvastyle{
    border:10px;
}

table.selvastyle td{
    font-weight: bold;
    padding: 10px;
}

table.tableTest td{
    border:0px;
}
.backimg{

    background-image: "C:\\Users\\Raja Karnan\\Development\\pickmeup-app\\client\\source\\images\\layout\\Benz.jpg";

}